<div>
  <div class="card-title card">
    <h4>
      <span class="text-primary">Overtime MP</span>
      <span class="text-secundary"> / Solicitudes Procesadas</span>
    </h4>
  </div>

  <div class="card table-card margin-top-20">
    <div class="table-header">
      <!-- Filtro General -->
      <div class="filters">
        <!-- Filtro Colaborador -->
        <div class="filter-item search-item">
          <div class="form-floating custom-floating">
            <select class="form-select border-info" [(ngModel)]="filtroColaborador" (change)="onFilterChange()">
              <option value="">Todos los colaboradores</option>
              <option *ngFor="let colaborador of colaboradores" [value]="colaborador">{{ colaborador }}</option>
            </select>
            <label>Colaborador</label>
          </div>
        </div>
        <!-- Filtro Jefe inmediato-->
        <div class="filter-item search-item">
          <div class="form-floating custom-floating">
            <select class="form-select border-info" [(ngModel)]="filtroJefeInmediato" (change)="onFilterChange()">
              <option value="">Todos los jefes</option>
              <option *ngFor="let jefe of jefesInmediatos" [value]="jefe">{{ jefe }}</option>
            </select>
            <label>Jefe Inmediato</label>
          </div>
        </div>
        <!-- Filtro Estado Jefe -->
        <div class="filter-item search-item">
          <div class="form-floating custom-floating">
            <select class="form-select border-info" id="estadoJefe" name="estadoJefe">
              <option value="">Seleccione Estado</option>
              <option value="Pendiente">Pendiente</option>
              <option value="Aprobado">Aprobado</option>
              <option value="Rechazado">Rechazado</option>
            </select>
            <label for="estadoJefe">Estado Jefe</label>
          </div>
        </div>

        <!-- Filtro Fecha Inicio -->
          <div class="fecha-group">
          <div class="filter-item">
            <div class="form-floating custom-floating">
              <input matInput [matDatepicker]="pickerInicio" class="form-control border-info" id="fechaInicio"
                name="fechaInicio" placeholder="dd/mm/aaaa" [(ngModel)]="fechaInicio" (ngModelChange)="onFechaChange()"
                (click)="openPicker('inicio', pickerInicio)" (focus)="openPicker('inicio', pickerInicio)" [min]="minDate"
                [max]="maxDate" aria-label="Fecha inicio" />
              <label for="fechaInicio">*Fecha Inicio</label>
              <mat-datepicker-toggle matSuffix [for]="pickerInicio" (click)="openPicker('inicio', pickerInicio)">
                <mat-icon (click)="openPicker('inicio', pickerInicio)">calendar_today</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #pickerInicio [calendarHeaderComponent]="CustomDatepickerHeader"
                [startAt]="startAt"></mat-datepicker>
            </div>
          </div>
          <div class="filter-item">
            <div class="form-floating custom-floating">
              <input matInput [matDatepicker]="pickerFin" class="form-control border-info" id="fechaFin"
                name="fechaFin" placeholder="dd/mm/aaaa" [(ngModel)]="fechaFin" (ngModelChange)="onFechaChange()"
                (click)="openPicker('fin', pickerFin)" (focus)="openPicker('fin', pickerFin)" [min]="minDate" [max]="maxDate"
                aria-label="Fecha fin" />
              <label for="fechaFin">*Fecha Fin</label>
              <mat-datepicker-toggle matSuffix [for]="pickerFin" (click)="openPicker('fin', pickerFin)">
                <mat-icon (click)="openPicker('fin', pickerFin)">calendar_today</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #pickerFin [calendarHeaderComponent]="CustomDatepickerHeader"
                [startAt]="startAt"></mat-datepicker>
            </div>
          </div>
        </div>

        <!-- Botón Limpiar Filtros -->
          <button type="button" class="btn btn-primary" (click)="limpiarFiltros()">Limpiar</button>
      </div>
    </div>
    <div class="loading-container" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" class="table mat-elevation-z0" *ngIf="!isLoading">
      <!-- Nombre del Colaborador -->
      <ng-container matColumnDef="nombreColaborador">
        <th mat-header-cell *matHeaderCellDef> Nombre Colaborador </th>
        <td mat-cell *matCellDef="let element"> {{ element.nombreColaborador }} </td>
      </ng-container>

      <!-- Nombre del Jefe Inmediato -->
      <ng-container matColumnDef="nombreJefeInmediato">
        <th mat-header-cell *matHeaderCellDef> Nombre Jefe Inmediato </th>
        <td mat-cell *matCellDef="let element"> {{ element.nombreJefeInmediato }} </td>
      </ng-container>


      <!--  EstadoGh -->
      <!-- <ng-container matColumnDef="estadoGh">
      <th mat-header-cell *matHeaderCellDef>Estado GH </th>
      <td mat-cell *matCellDef="let element">
        <span class="badge" [ngClass]="{
            'badge-warning': element.estadoGh === 'Pendiente',
            'badge-success': element.estadoGh === 'Aprobado',
            'badge-danger': element.estadoGh === 'Rechazado'
          }">
          {{ element.estadoGh }}
        </span>
      </td>
    </ng-container> -->

      <!-- Estado Pago -->
      <!-- <ng-container matColumnDef="estadoPago">
      <th mat-header-cell *matHeaderCellDef> Estado Pago </th>
      <td mat-cell *matCellDef="let element">
        <span class="badge" [ngClass]="{
            'badge-warning': element.estadoPago === 'Pendiente',
            'badge-success': element.estadoPago === 'Aprobado',
            'badge-danger': element.estadoPago === 'Rechazado'
          }">
          {{ element.estadoPago }}
        </span>
      </td>
    </ng-container> -->

      <!-- Tipo de Hora -->
      <ng-container matColumnDef="tipoHora">
        <th mat-header-cell *matHeaderCellDef> Tipo de Hora </th>
        <td mat-cell *matCellDef="let element"> {{ element.tipoHora }} </td>
      </ng-container>

      <!-- Fecha Inicio -->
      <ng-container matColumnDef="fechaHoraInicio">
        <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
        <td mat-cell *matCellDef="let element"> {{ element.fechaHoraInicio | date:'dd/MM/yyyy hh:mm a' }} </td>
      </ng-container>

      <!-- Fecha Fin -->
      <ng-container matColumnDef="fechaHoraFin">
        <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
        <td mat-cell *matCellDef="let element"> {{ element.fechaHoraFin | date:'dd/MM/yyyy hh:mm a' }} </td>
      </ng-container>

      <!-- Estado Jefe -->
      <ng-container matColumnDef="estadoJefe">
        <th mat-header-cell *matHeaderCellDef>Estado Jefe </th>
        <td mat-cell *matCellDef="let element">
          <span class="badge" [ngClass]="{
            'badge-warning': element.estadoJefe === 'Pendiente',
            'badge-success': element.estadoJefe === 'Aprobado',
            'badge-danger': element.estadoJefe === 'Rechazado'
          }">
            {{ element.estadoJefe }}
          </span>
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element" class="acciones-cell">
          <!-- <i class="bi bi-check-circle action-icon" [class.disabled-action]="!isElementPending(element)" title="Aprobar"
            role="button" (click)="openConfirmApprove(element)"></i> -->
          <!-- <i class="bi bi-x-circle action-icon text-danger" [class.disabled-action]="!isElementPending(element)"
          title="Rechazar" role="button" (click)="openRejectModal(element)"></i> -->
          <i class="bi bi-eye action-icon" title="Ver" role="button" (click)="openVer(element)"></i>
        </td>
      </ng-container>
      <!-- Paginador -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="table-footer">
      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 30, 50]" aria-label="Paginador"></mat-paginator>
    </div>

  </div>